---
version: "3.7"
services:
  ts-authkey-test:
    image: tailscale/tailscale:latest
    container_name: ts-authkey-test
    hostname: authkey-test
    environment:
      - TS_AUTHKEY=tskey-auth-kV7bYL6CNTRL-GXXhAHWhHXAVTcumJyyxXAc2cyjxQ3QkD
      - TS_STATE_DIR=/var/lib/tailscale
    volumes:
      - ${PWD}/ts-authkey-test/state:/var/lib/tailscale
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - net_admin
      - sys_module
    restart: unless-stopped
  nginx-authkey-test:
    image: nginx
    network_mode: service:ts-authkey-test